body, .form-control {
  font-family: 'Lato', sans-serif;
}

h1 {
  margin-bottom: 40px;
}

label {
  color: #333;
}

.btn-send {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}

.help-block with-errors {
  color: #ff5050;
  margin-top: 5px;
}

.top_contact_us_box {
  padding-top: 50;
}

.text-muted {
  padding-bottom: 100;
}

.hidden {
  visibility: hidden;
}

/* Additional Order classes for insurance-upgrades page */
@media (min-width: 768px) {
  .order-md-6 {
    order: 6;
  }

  .order-md-7 {
    order: 7;
  }

  .order-md-8 {
    order: 8;
  }

  .order-md-9 {
    order: 9;
  }

  .order-md-10 {
    order: 10;
  }
}